<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bardo: AI music curator</title>
  <meta name="description" content="Using AI to discover new music">
  <meta name="viewport" content="width=device-width">
  <style>
    ul {
      list-style-type: none;
      margin-bottom: 25px;
    }
    body {
      padding: 0 10px 30px 10px;
    }
  </style>
</head>
<body>
  <h1><a href="{{url_for('main')}}">Bardo</a> FAQ</h1>
  <p>How does Bardo work?</p>
  <p><ul><li><a href="{{url_for('how_it_works')}}">How Bardo works</a>.</li></ul></p>
  <h3 id="recommendations">Recommendations</h3>
  <p>Why can't I choose to listen as myself in the recommendation settings?<p>
  <p><ul><li>Bardo can at most make random recommendations when it knows nothing about you. I estimate that <u>you need at least 50+ rated songs</u>, between liked/loved and disliked/hated, for you to get meaningful recommendations. When Bardo has learned enough about your preferences, you'll see your name.</li></ul></p>
  <p>How does Bardo know my music preferences?</p>
  <p><ul><li>Bardo looks at the rhythm, tone composition, etc. in the songs that you rate. At its core, Bardo is a combinaton of statistical Machine Learning models that have learned patterns in the music that you enjoy.</li></ul></p>
  <p>Does Bardo look in my spotify account to know my preferences?</p>
  <p><ul><li>Not yet. <u>Bardo's only source of information so far are the songs that you rate</u>.</li></ul></p>
  <p>How does Bardo make recommendations?</p>
  <p><ul><li>Bardo uses the settings that you choose in the recommendations form to generate a playlist with the Spotify API. It then hand-picks the songs that you are most likely to enjoy. There is a visual description in <a href="{{url_for('how_it_works')}}#technical">how Bardo works</a>.</li></ul></p>
  <p>Can I choose other genres?</p>
  <p><ul><li>Not yet. I'm testing Bardo's usefulness with deep house so far, but it could be expanded into other genres.</li></ul></p>
  <h3>Feedback</h3>
  <p>Why am I asked to rate songs?</p>
  <p><ul><li>Rated songs are Bardo's only source of improvement. Bardo needs this information to improve your recommendations.</li></ul></p>
  <p>What do the ratings mean?</p>
  <p><ul><li>Hated / didn't like / neutral / liked / loved are just a scale between 1-5. It helps Bardo understand which music patterns you appreciate the most.</li></ul></p>
  <p>How accurate do my ratings need to be?</p>
  <p><ul><li>Rating is hard. It's hard to allocate preferences to buckets, since there are many gray areas and preferences change over time. <u>Your ratings are not expected to be perfect</u>. Machine Learning wouldn't be practical if it didn't work with imperfect data sources. Don't think too much about it. Over time, with enough data, Bardo should be able to find the right patterns in the music that you enjoy.</li></ul></p>
  <p>It's a pain to rate songs.</p>
  <p><ul><li>I know. I advise that you rate songs as you listen to them, one by one. <u>You can always save and come back at any time</u>.</li></ul></p>
</body>
</html>
