<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bardo: AI music curator</title>
  <meta name="description" content="Using AI to discover new music">
  <style>
    #loading {
      height: 16px;
      width: 16px;
    }
  </style>
</head>
<body>
  <script>
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "{{url_for('make_playlist', bardo_id=bardo_id)}}", true);
    xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xhr.onload = function (e) {
      if (xhr.readyState === 4) {
        var message = document.getElementById("message");
        message.innerHTML = xhr.responseText;
      }
    };
    xhr.onerror = function (e) {
      message.innerHTML = "There was an error generating the playlist.";
    };
    xhr.send('{{data | tojson | safe}}'); 
  </script>
  <h1>Bardo Recommendations</h1>
  <p id="message">The playlist is being generated... <img id="loading" src="{{url_for('static', filename='loading.gif')}}"> This could take up to 5 minutes.</p>
</html>
