<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bardo: AI music curator</title>
  <meta name="description" content="Using AI to discover new music">
</head>
<body>
  <h1>How <a href="{{url_for('main')}}">Bardo</a> works</h1>
  <p>Bardo's <b>mission</b> is to help groups of friends find new music that they all enjoy.</p>
  <p>The main idea behind Bardo has 2 steps:</p>
  <ol>
    <li><u>Bardo makes recommendations</u>, based on the music preferences that it knows about you.</li>
    <li><u>You rate those recommendations</u>, so that Bardo continues learning. It's an iterative process.</li>
  </ol>
  <p>A second idea has to do with groups of friends. If you and your friends have similar music preferences, it makes sense to cross-pollinate them. In other words, the music preferences of your friends might feed into your recommendations and viceversa.</p>
  <p><b>Technically</b>, Bardo has 2 main components: the Spotify API and the Bardo AI. Below is a diagram of how they interact.</p>
  <p><img src="{{url_for('static', filename='bardo.png')}}"></p>
</body>
</html>
