<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bardo: AI music curator</title>
  <meta name="description" content="Using AI to discover new music">
  <meta name="viewport" content="width=device-width">
  <style>
  input {
    font-size: 16px;
    width: 200px;
  }
  </style>
</head>
<body>
  <script>
    window.onload = function() {
      document.getElementById("emailForm").onsubmit = function() {
        localStorage.bardoId = document.getElementById("email").value;
      }
    }
  </script>

  <h1><a href="{{url_for('main')}}">Bardo:</a> AI music curator</h1>
  <h3>What's your email?</h3>
  <form id="emailForm" action="{{url_for(redirect_url)}}" method="get">
    <input id="email" type="email" name="bardo-id" required>
    {% for arg in args %}
      <input type="hidden" name="{{arg[0]}}" value="{{arg[1]}}">
    {% endfor %}
    <input type="submit" value="Submit">
  </form>
  <p><i>Your email will be used to identify your music preferences and make music recommendations.</i></p>
</html>
