<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bardo: AI music curator</title>
  <meta name="description" content="Using AI to discover new music">
</head>
<body>
  <script>
    window.onload = function() {
      if (localStorage.bardoId !== undefined) {
        var genPlst = document.getElementById("generatePlst");
        genPlst.href += "?bardo-id=" + localStorage.bardoId;
        var profile = document.getElementById("profile");
        profile.href += "?bardo-id=" + localStorage.bardoId;
      }
    }
  </script>

  <h1>Bardo: AI music curator</h1>
  <p><a id="generatePlst" href="{{url_for('playlist_selection')}}">Get music recommendations</a></p>
  <p><a id="profile" href="{{url_for('profile')}}">My music preferences</a></p>
</body>
</html>
