<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bardo: AI music curator</title>
  <meta name="description" content="Using AI to discover new music">
  <meta name="viewport" content="width=device-width">
</head>
<body>
  <h1><a href="{{url_for('main')}}">Bardo:</a> AI music curator</h1>
  <p><a href="{{url_for('playlist_selection')}}">Get music recommendations</a></p>
  <p><a href="{{url_for('profile')}}">My music preferences</a></p>
  <hr>
  <p><a href="{{url_for('how_it_works')}}">How it works</a></p>
</body>
</html>
