<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bardo: AI music curator</title>
  <meta name="description" content="Using AI to discover new music">
  <meta name="viewport" content="width=device-width">
  <style>
    input[type="submit"] {
      font-size: 16px;
    }
  </style>
</head>
<body>
  <h1><a href="{{url_for('main')}}">Bardo</a> Recommendations</h1>
  <p>Bardo will use your music preferences to create a personalized playlist in your spotify account.</p>
  <form action="{{url_for('generate_playlist')}}" method="GET">
    <p><b>Source</b></p>
    <p>
      <input type="radio" name="source" value="gbdt_bottom_high" required checked> <label>Bardo AI</label>
      <input type="radio" name="source" value="random" required> <label>Spotify random</label>
      <input type="radio" name="source" value="{{exp_clfs}}" required> <label>A/B</label> <i>(A/B will include a random mix of Bardo AI and a new experimental source.)</i>
    </p>
    <p><b>Genres</b></p>
    <p>
      <input type="checkbox" name="genre" value="deep-house" checked required> <label>Deep house</label>
    </p>
    <p><b>Country</b></p>
    <p>
      <input type="radio" name="market" value="US" required> <label>US</label>
      <input type="radio" name="market" value="MX" required> <label>MX</label> 
      <label><i>This parameter is important because some tracks might not be playable depending on the country.</i></label>
    </p>
    <input type="hidden" name="bardo-id" value="{{bardo_id}}">
    <input type="hidden" name="token" value="{{token}}">
    <input type="submit" value="Generate">
  </form>
</html>
