<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bardo: AI music curator</title>
  <meta name="description" content="Using AI to discover new music">
  <meta name="viewport" content="width=device-width">
  <style>
    input[type="submit"] {
      font-size: 16px;
    }
  </style>
</head>
<body>
  <h1><a href="{{url_for('main')}}">Bardo</a> Recommendations</h1>
  <p>The Bardo AI will use your preferences to create a playlist in your spotify account.</p>
  <form action="{{url_for('generate_playlist')}}" method="GET">
    <h3>Listen as</h3>
    <p>
    {% for label, source in sources.items(): %}
      <input type="radio" name="source" value="{{source}}" required {{'checked' if bardo_id == source}}> <label>{{label}}</label><br>
    {% endfor %}
      <br>
      <i>Bardo will create a Playlist as if it was meant for them.</i>
    </p>
    <h3>Recommendation seeds</h3>
    <p>
      <div>
      Genres:<br>
      <input type="checkbox" name="genre" value="deep-house" checked required> <label>Deep house</label><br><br>
      Similar to:<br>
      <input type="checkbox" name="history" value="pos" checked> <label>My liked tracks</label><br>
      <input type="checkbox" name="history" value="very_pos" checked> <label>My loved tracks</label><br>
      <br>
      <i>These will be used to enrich your recommendations.</i>
    </p>
    <h3>Country</h3>
    <p>
      <input type="radio" name="market" value="US" required> <label>US</label><br>
      <input type="radio" name="market" value="MX" required> <label>MX</label><br> 
      <input type="radio" name="market" value="BO" required> <label>BO</label><br>
      <br>
      <i>Some tracks might not be playable depending on the country.</i>
    </p>
    <input type="hidden" name="token" value="{{token}}">
    <input type="submit" value="Generate">
  </form>
</html>
