<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bardo: AI music curator</title>
  <meta name="description" content="Using AI to discover new music">
  <meta name="viewport" content="width=device-width">
  <style>
    input[type="text"] {
      font-size: 16px;
      width: 200px;
    }
    input[type="submit"] {
      font-size: 16px;
    }
  </style>
</head>
<body>
  <h1><a href="{{url_for('main')}}">Bardo</a> Profile</h1>
  <p>This is the data that Bardo uses to generate music recommendations:</p>
  <p><a href="{{url_for('tracks', bardo_id=bardo_id, stars='5')}}">Loved tracks</a></p>
  <p><a href="{{url_for('tracks', bardo_id=bardo_id, stars='4')}}">Liked tracks</a></p>
  <p><a href="{{url_for('tracks', bardo_id=bardo_id, stars='3')}}">Neutral tracks</a></p>
  <p><a href="{{url_for('tracks', bardo_id=bardo_id, stars='2')}}">Not-liked tracks</a></p>
  <p><a href="{{url_for('tracks', bardo_id=bardo_id, stars='1')}}">Hated tracks</a></p>
  <hr>
  <p>Help Bardo understand if it's doing a good job. From your previous recommendations...</p>
  <p><a href="{{url_for('rate_recommendations')}}?bardo-id={{bardo_id}}&redirect-uri=profile">Rate Bardo recommendations</a></p>
  <hr>
  <p>Help Bardo understand your music preferences. Do you have Spotify playlists that you want to share?</p>
  <form action="{{url_for('save_playlists', bardo_id=bardo_id)}}?token={{token}}" method="POST">
    <p><b>Playlist</b></p>
    <p>
      <input type="text" name="url"><br>
      <label><i>Copy/paste a Spotify playlist URL.</i>
    </p>
    <p><b>How much do you like the tracks in this playlist?</b></p>
    <p>
      <input type="radio" name="feedback" value="1" required>  <label>Hate</label><br>
      <input type="radio" name="feedback" value="2" required>  <label>Don't like</label><br>
      <input type="radio" name="feedback" value="3" required>  <label>Neutral</label><br>
      <input type="radio" name="feedback" value="4" required>  <label>Like</label><br>
      <input type="radio" name="feedback" value="5" required>  <label>Love</label>
    </p>
    <p><input type="submit" value="Submit"></p>
  </form>
</html>
