<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bardo: AI music curator</title>
  <meta name="description" content="Using AI to discover new music">
  <meta name="viewport" content="width=device-width">
  <style>
    input[type="submit"] {
      font-size: 16px;
    }
  </style>
</head>
<body>
  <script>
    window.onload = () => {
      var radios = Array.from(
        document.querySelectorAll("input[type='radio']")
      );
      radios.forEach(radio => {
        radio.onchange = () => {
          var ps = Array.from(document.querySelectorAll("p.feedback"));
          var allChecked = ps.reduce((pChecked, p) => {
            var pRad = Array.from(p.querySelectorAll("input[type='radio']"));
            var isChecked = pRad.reduce((checked, r) => {
              return checked || r.checked;
            }, false);
            return pChecked && isChecked;
          }, true);

          var submit = document.getElementById("submit");
          if (allChecked) {
            submit.value = "Submit";
          } else {
            submit.value = "Save for later";
          }
        };
      });
    };
  </script>
  <h1><a href="{{url_for('main')}}">Bardo</a> Feedback</h1>
  <p>Help Bardo understand if it's doing a good job.</p>
  <p>You have accrued <u>{{size}} unrated tracks</u>, out of 30. <i><a href="{{url_for('faq')}}#feedback">Why am I asked to rate tracks?</a></i></p>
  {% if size > 0: %}
  <h3>How much did you like these tracks?</h3>
  <p><i><u>You can save and resume at any time.</u> </i></p>
    <form id="form" action="{{save_url}}" method="POST">
      <ul>
      {% for id, name in needs_rating: %}
      <li>
        <p><b>{{name}}</b></p>
        <p class="feedback">
          <input type="radio" name="feedback-{{id}}" value="1" {{'required' if size >= 30}}>  <label>Hated</label><br>
          <input type="radio" name="feedback-{{id}}" value="2" {{'required' if size >= 30}}>  <label>Didn't like</label><br>
          <input type="radio" name="feedback-{{id}}" value="3" {{'required' if size >= 30}}>  <label>Neutral</label><br>
          <input type="radio" name="feedback-{{id}}" value="4" {{'required' if size >= 30}}>  <label>Liked</label><br>
          <input type="radio" name="feedback-{{id}}" value="5" {{'required' if size >= 30}}>  <label>Loved</label><br>
          <br><input type="radio" name="feedback-{{id}}" value="0"> <label>Forget</label>
        </p>
      </li>
      <p>
      {% endfor %}
      </ul>
      <p><input id="submit" type="submit" value="Save for later"></p>
    </form>
  {% else: %}
    <h3>No tracks to rate</h3>
  {% endif %}
</html>
