<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bardo: AI music curator</title>
  <meta name="description" content="Using AI to discover new music">
  <meta name="viewport" content="width=device-width">
  <style>
    input[type="submit"] {
      font-size: 16px;
    }
  </style>
</head>
<body>
  <h1><a href="{{url_for('main')}}">Bardo</a> Feedback</h1>
  <p>Help Bardo understand if it's doing a good job. From your previous recommendations...</p>
  {% if needs_rating|length > 0: %}
  <h3>How much did you like these tracks?</h3>
  <i>Forgotten tracks won't be saved.</i>
    <form id="form" action="{{save_url}}" method="POST">
      <ul>
      {% for id, name in needs_rating.items(): %}
      <li>
        <p><b>{{name}}</b></p>
        <p>
          <input type="radio" name="feedback-{{id}}" value="1">  <label>Hated</label><br>
          <input type="radio" name="feedback-{{id}}" value="2">  <label>Didn't like</label><br>
          <input type="radio" name="feedback-{{id}}" value="3">  <label>Neutral</label><br>
          <input type="radio" name="feedback-{{id}}" value="4">  <label>Liked</label><br>
          <input type="radio" name="feedback-{{id}}" value="5">  <label>Loved</label><br>
          <input type="radio" name="feedback-{{id}}" value="0"> <label>Forgot</label>
        </p>
      </li>
      <p>
      {% endfor %}
      </ul>
      <p><input type="submit" value="Save"></p>
    </form>
  {% else: %}
    <h3>No tracks to rate</h3>
  {% endif %}
</html>
