<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bardo: AI music curator</title>
  <meta name="description" content="Using AI to discover new music">
</head>
<body>
  <script>
    window.onload = function() {
      document.getElementById("emailForm").onsubmit = function() {
        localStorage.bardoId = document.getElementById("email").value;
      }
    }
  </script>

  <h1>Bardo: AI music curator</h1>
  <h3>What's your email?</h3>
  <form id="emailForm" action="{{redirect_url}}" method="get">
    <input id="email" type="email" name="bardo-id" required>
    <input type="submit" value="Submit">
  </form>
  <p><i>We'll use your email to identify your music preferences and make recommendations.</i></p>
</html>
