<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bardo: AI music curator</title>
  <meta name="description" content="Using AI to discover new music">
</head>
<body>
  <h1>Bardo: AI music curator</h1>
  <p>We'll use your music preferences to create a playlist with new music recommendations in your Spotify account.</p>
  <!--  <p><a href="{{bardo_url}}">Generate playlist using Bardo AI</a></p> -->
  <!--  <p><a href="{{random_url}}">Generate random playlist</a></p> -->
  <p><a href="{{experiment_url}}">Generate experimental playlist</a></p>
</html>
