<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bardo: AI music curator</title>
  <meta name="description" content="Using AI to discover new music">
  <style>
    input[type="submit"] {
      font-size: 16px;
    }
  </style>
</head>
<body>
  <h1>Bardo: AI music curator</h1>
  <p>We'll use your music preferences to create a personalized playlist in your spotify account.</p>
  <form action="{{url_for('generate_playlist')}}" method="GET">
    <p>
      <p><b>Source</b></p>
      <p>
      <!-- <label>Bardo AI</label><input type="radio" name="source" value="bardo"> -->
      <!-- <label>Spotify random</label><input type="radio" name="source" value="random"> -->
        <label>Experimental</label> <input type="radio" name="source" value="{{exp_clfs}}" checked>
      </p>
    </p>
      <p><b>Tested genres</b></p>
      <p>
        <label>Deep house</label> <input type="checkbox" name="genre" value="deep-house" checked>
      </p>
    </p>
    <input type="hidden" name="bardo-id" value="{{bardo_id}}">
    <input type="hidden" name="token" value="{{token}}">
    <input type="submit" value="Generate">
  </form>
</html>
