<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bardo: AI music curator</title>
  <meta name="description" content="Using AI to discover new music">
</head>
<body>
  <h1>Bardo: AI music curator</h1>
  <p><a href={{liked_url}}>Liked tracks</a></p>
  <p><a href={{not_liked_url}}>Tracks not liked</a></p>
  <p><a href={{all_url}}>All tracks</a></p>
  <hr>
  <p>Let us know your favorite tracks and the ones that you don't like. We'll use this data to understand your music preferences.</p>
  <form action="{{save_url}}" method="POST">
    <h3>Favorite tracks</h3>
    <input type="text" name="favorite"> <label>Copy/paste a Spotify playlist URL</label>
    <h3>Tracks that you don't like</h3>
    <input type="text" name="no-favorite"> <label>Copy/paste a Spotify playlist URL</label>
    <p><input type="submit" value="Submit"></p>
  </form>
</html>
