<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bardo: AI music curator</title>
  <meta name="description" content="Using AI to discover new music">
  <style>
    input {
      font-size: 16px;
    }
  </style>
</head>
<body>
  <h1>Bardo Profile</h1>
  <p>This is the data that Bardo uses to generate music recommendations.</p>
  <p><a href="{{url_for('tracks', bardo_id=bardo_id, label='liked')}}">Liked tracks</a></p>
  <p><a href="{{url_for('tracks', bardo_id=bardo_id, label='not-liked')}}">Tracks not liked</a></p>
  <p><a href="{{url_for('tracks', bardo_id=bardo_id, label='all')}}">All tracks</a></p>
  <hr>
  <p>Help us understand if we're doing a good job. From the previous tracks that we recommended to you...</p>
  <p><a href="{{url_for('rate_recommendations')}}?bardo-id={{bardo_id}}">Rate Bardo recommendations</a></p>
  <hr>
  <p>Let us know your favorite tracks and the ones that you don't like, from your Spotify account.</p>
  <form action="{{url_for('save_playlists', bardo_id=bardo_id)}}?token={{token}}" method="POST">
    <p><b>Favorite tracks</b></p>
    <p><input type="text" name="favorite"> <label>Copy/paste a Spotify playlist URL</label></p>
    <p><b>Tracks that you don't like</b></p>
    <p><input type="text" name="no-favorite"> <label>Copy/paste a Spotify playlist URL</label></p>
    <p><input type="submit" value="Submit"></p>
  </form>
</html>
